In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/student-por.csv')
print(len(df))
print(df.head(5))

649
  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  freetime goout  Dalc  Walc  health absences  G1  G2  G3      grade
0        3     4     1     1       3        4   0  11  11   7.333333
1        3     3     1     1       3        2   9  11  11  10.333333
2        3     2     2     3       3        6  12  13  12  12.333333
3        2     2     1     1       5        0  14  14  14  14.000000
4        3     2     1     2       5        0  11  13  13  12.333333

[5 rows x 34 columns]

In [3]:
three = pd.DataFrame(df, columns = ['studytime' , 'failures', 'grade'])
print(three)

     studytime  failures      grade
0            2         0   7.333333
1            2         0  10.333333
2            2         0  12.333333
3            3         0  14.000000
4            2         0  12.333333
5            2         0  12.333333
6            2         0  12.666667
7            2         0  12.000000
8            2         0  16.000000
9            2         0  12.333333
10           2         0  14.000000
11           3         0  11.666667
12           1         0  12.333333
13           2         0  12.333333
14           3         0  14.333333
15           1         0  17.000000
16           3         0  13.333333
17           2         0  13.666667
18           1         3   7.666667
19           1         0  12.000000
20           2         0  13.000000
21           1         0  11.666667
22           2         0  13.000000
23           2         0  10.000000
24           3         0  10.333333
25           1         0  11.000000
26           1         0  11.666667
27           1         0  11.000000
28           2         0  12.333333
29           2         0  11.666667
..         ...       ...        ...
619          2         0  12.666667
620          2         0  14.666667
621          2         0  13.000000
622          2         0   9.000000
623          3         0  15.666667
624          1         1   8.333333
625          1         0  10.000000
626          2         0   4.000000
627          1         0   9.666667
628          3         0  11.000000
629          1         0   8.000000
630          3         0  16.333333
631          3         0  11.000000
632          2         1   8.000000
633          2         0  13.666667
634          2         0  16.000000
635          2         0   8.666667
636          2         0  18.000000
637          1         0   4.666667
638          2         0  15.000000
639          1         1   4.333333
640          1         1   4.666667
641          3         0  15.333333
642          2         0   8.666667
643          1         0   8.666667
644          3         1  10.333333
645          2         0  15.333333
646          2         0  10.666667
647          1         0  10.000000
648          1         0  10.666667

[649 rows x 3 columns]