# Data Mining Project 2

## Student Classification by DecisionTree

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/student-por.csv')
print(len(df))
print(df.head(5))

649
  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        4   0  11  11
1      5        3      3     1     1      3        2   9  11  11
2      4        3      2     2     3      3        6  12  13  12
3      3        2      2     1     1      5        0  14  14  14
4      4        3      2     1     2      5        0  11  13  13

[5 rows x 33 columns]

In [2]:
msk = np.random.rand(len(df)) < 0.8
train = df[msk]
test = df[~msk]
print("train test has "+str(len(train))+" rows")
print("train test has "+str(len(test))+" rows")
print(train.head(5))
print(test.tail(1))

train test has 527 rows
train test has 122 rows
  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4   at_home   teacher
2     GP   F   15       U     LE3       T     1     1   at_home     other
3     GP   F   15       U     GT3       T     4     2    health  services
4     GP   F   16       U     GT3       T     3     3     other     other
5     GP   M   16       U     LE3       T     4     3  services     other

   ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0  ...      4        3      4     1     1      3        4   0  11  11
2  ...      4        3      2     2     3      3        6  12  13  12
3  ...      3        2      2     1     1      5        0  14  14  14
4  ...      4        3      2     1     2      5        0  11  13  13
5  ...      5        4      2     1     2      5        6  12  12  13

[5 rows x 33 columns]
    school sex  age address famsize Pstatus  Medu  Fedu   Mjob      Fjob  ...  \
639     MS   M   19       R     GT3       T     1     1  other  services  ...

    famrel freetime  goout  Dalc  Walc health absences G1 G2 G3
639      4        3      2     1     3      5        0  5  8  0

[1 rows x 33 columns]

In [3]:
class CreateQuestion:    
    def __init__(self, column, value):
        self.column = column
        self.value = value    
    def check(self, data):
        if(type(data)==type(int)):
            val = data
            return (val>=self.value).item()
        else:
            #val = data[self.column]
            val = data.iloc[0,[self.column]]
            return (val >= self.value).item()
    def __repr__(self):
      
        return "Is %s %s %s?" % (self.column[-1], ">=", str(self.value))

In [4]:
q = CreateQuestion(2, 19)
data = train.iloc[[1]]
print(q.check(data))
print(train.iloc[0][2])

False
18

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: `item` has been deprecated and will be removed in a future version
  if sys.path[0] == '':

In [5]:
def partition(rows, qsn):
  
    true_rows, false_rows = [], []
    for i in range(0,len(train)):
        if qsn.check(train.iloc[i:i+1]):
            true_rows.append(train.iloc[i:i+1])
        else:
            false_rows.append(train.iloc[i:i+1])
    return true_rows, false_rows

In [6]:
true_rows, false_rows = partition(train, CreateQuestion(2, 17))

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: `item` has been deprecated and will be removed in a future version
  if sys.path[0] == '':

In [22]:
true = true_rows[:3]
print(len(true_rows))
print(len(false_rows))

293
234

In [8]:
# dd = train.iloc[:,2]
# print(dd)
# for item in train:
#     print(item)
train.iloc[2:3]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14