# Data Mining Project 2

## Student Classification by DecisionTree

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/student-por.csv')
print(len(df))
print(df.head(5))

649
  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  freetime goout  Dalc  Walc  health absences  G1  G2  G3      grade
0        3     4     1     1       3        4   0  11  11   7.333333
1        3     3     1     1       3        2   9  11  11  10.333333
2        3     2     2     3       3        6  12  13  12  12.333333
3        2     2     1     1       5        0  14  14  14  14.000000
4        3     2     1     2       5        0  11  13  13  12.333333

[5 rows x 34 columns]

In [2]:
msk = np.random.rand(len(df)) < 0.8
train = df[msk]
test = df[~msk]
print("train test has "+str(len(train))+" rows")
print("train test has "+str(len(test))+" rows")
print(train.head(5))
print(test.tail(1))

train test has 508 rows
train test has 141 rows
  school sex  age address famsize Pstatus  Medu  Fedu      Mjob     Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4   at_home  teacher  ...
1     GP   F   17       U     GT3       T     1     1   at_home    other  ...
2     GP   F   15       U     LE3       T     1     1   at_home    other  ...
5     GP   M   16       U     LE3       T     4     3  services    other  ...
6     GP   M   16       U     LE3       T     2     2     other    other  ...

  freetime goout  Dalc  Walc  health absences  G1  G2  G3      grade
0        3     4     1     1       3        4   0  11  11   7.333333
1        3     3     1     1       3        2   9  11  11  10.333333
2        3     2     2     3       3        6  12  13  12  12.333333
5        4     2     1     2       5        6  12  12  13  12.333333
6        4     4     1     1       3        0  13  12  13  12.666667

[5 rows x 34 columns]
    school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
645     MS   F   18       U     LE3       T     3     1  teacher  services

     ... freetime goout  Dalc  Walc  health absences  G1  G2  G3      grade
645  ...        3     4     1     1       1        4  15  15  16  15.333333

[1 rows x 34 columns]

In [3]:
class CreateQuestion:    
    def __init__(self, column, value):
        self.column = column
        self.value = value    
    def check(self, data):
        if(type(data)==type(int)):
            val = data
            return (val>=self.value).item()
        else:
            #val = data[self.column]
            val = data.iloc[0,[self.column]]
            return (val >= self.value).item()
    def __repr__(self):
      
        return "Is %s %s %s?" % (self.column[-1], ">=", str(self.value))

In [4]:
q = CreateQuestion(2, 19)
data = train.iloc[[1]]
print(q.check(data))
print(train.iloc[0][2])

False
18

In [5]:
def partition(rows, qsn):
  
    true_rows, false_rows = [], []
    for i in range(0,len(rows)):
        if qsn.check(train.iloc[i:i+1]):
            true_rows.append(train.iloc[i:i+1])
        else:
            false_rows.append(train.iloc[i:i+1])
    return true_rows, false_rows

In [6]:
true_rows, false_rows = partition(train, CreateQuestion(2, 18))

In [7]:
true = true_rows[:3]
print(len(true_rows))
print(len(false_rows))
print(true)

141
367
[  school sex  age address famsize Pstatus  Medu  Fedu     Mjob     Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home  teacher  ...

  freetime goout  Dalc  Walc  health absences G1  G2  G3     grade
0        3     4     1     1       3        4  0  11  11  7.333333

[1 rows x 34 columns],     school sex  age address famsize Pstatus  Medu  Fedu     Mjob   Fjob  ...  \
127     GP   F   19       U     GT3       T     0     1  at_home  other  ...

    freetime goout  Dalc  Walc  health absences G1  G2  G3 grade
127        4     2     1     1       5        0  9  10  11  10.0

[1 rows x 34 columns],     school sex  age address famsize Pstatus  Medu  Fedu      Mjob   Fjob  ...  \
131     GP   F   18       U     GT3       T     2     1  services  other  ...

    freetime goout  Dalc  Walc  health absences  G1 G2 G3 grade
131        4     5     1     3       5       10  10  9  8   9.0

[1 rows x 34 columns]]

In [8]:
# dd = train.iloc[:,2]
# print(dd)
# for item in train:
#     print(item)
train.iloc[2:3]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,grade
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,6,12,13,12,12.333333